{
    "semi": true,
    "singleQuote": true,
    "trailingComma": "all",
    "arrowParens": "avoid",
    "bracketSpacing": true,
    "bracketSameLine": true,
    "useTabs": false,
    "tabWidth": 4,
    "printWidth": 120
}